@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/Montserrat/montserrat-semibold.eot');
    src: url('../fonts/Montserrat/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-semibold.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-semibold.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/Montserrat/montserrat-regular.eot');
    src: url('../fonts/Montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat/montserrat-regular.woff2') format('woff2'),
         url('../fonts/Montserrat/montserrat-regular.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rozha_oneregular';
    src: url('../fonts/RozhaOne/rozhaone-regular-webfont.eot');
    src: url('../fonts/RozhaOne/rozhaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RozhaOne/rozhaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/RozhaOne/rozhaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}